<link rel="stylesheet" href="app.css">

<h1>you fell in love with : <%= thingVar.toUpperCase()  %></h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>Good Choice! RUSTY IS THE BEST</p>
<% } else { %>
    <p>Bad Choice! you hould have said Rusty</P>
 <% } %>


<p>this is the love.ejs file</p>


// in the ejs file to write js code you must use this  
// <%=   %> put code inside the bracket   